.container{
    display: flex;
    gap: 10px;
}
.imgContainer {
    flex: 1;
    position: relative;
}
.img{
    object-fit: contain;
}
.formContainer {
 flex: 1;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form input, .form textarea{
    background-color: var(--bgSoft);
    color: var(--text);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 20px;
}
.form button{
    padding: 20px;
    background-color: var(--btn);
    color: var(--text);
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}