.custom_container{

    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(45deg, #27AE60, #2ECC71, #A3E635);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
